.headers {
  border-bottom: 1px solid #ececec;
}
.novigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  &__nav {
    display: flex;
    flex-direction: row;
  }
  &__logo {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    vertical-align: middle;
    padding: 25px 0px;
  }
  &__first-logo {
    color: $accent-color;
  }
  &__list {
    display: flex;
    flex-direction: row;
    margin-left: 93px;
    padding-left: 0px;
    font-family: Roboto;
    font-style: Medium;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
  }
  &__item {
    &:first-child {
      margin-right: 50px;
    }
    &:not(:last-child) {
      margin-right: 50px;
      padding: 32px 0px;
    }
    &:last-child {
      margin-right: 0px;
      padding: 32px 0px;
    }
  }
  &__link {
    color: black;
    transition: 250ms $timing-function;
    &:hover {
      color: $accent-color;
    }
    &:focus {
      color: $accent-color;
    }
    &--color {
      position: relative;
      color: $accent-color;
    }
    &--color::after {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 4px;
      left: 0;
      top: 43px;
      background-color: $accent-color;
      opacity: 1;
      transition: opacity 250ms $timing-function;
    }
  }
  &__kontakts {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-left: 240px;
    padding-left: 0px;
    font-family: Roboto;
    font-style: Medium;
    font-size: 14px;
    line-height: 16px;
  }
  &__links {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: rgba(117, 117, 117, 1);
    transition: 250ms var(--timing-function);
    &:first-child {
      margin-left: 0px;
      padding: 32px 0px;
    }
    &:not(::firsr-child) {
      margin-right: 30px;
      padding: 32px 0px;
    }
    &:last-child {
      margin-right: 30px;
      padding: 32px 0px;
    }
    &:hover {
      color: $accent-color;
      fill: $accent-color;
    }
    &:focus {
      color: $accent-color;
      fill: $accent-color;
    }
  }
  &__icone {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    color: #757575;
  }
}
